In [2]:
#selecting variables from the dataset and making a new dataset
from ggplot import mtcars
df_mtcars = mtcars
df_mtcars_subset = df_mtcars[['hp','cyl','carb']]

In [5]:
#selecting the rows with conditions; use &
df_mtcars_v1 = df_mtcars.ix[(df_mtcars['cyl'] == 6) | (df_mtcars['carb'] == 4 )]

In [6]:
# Creating a new variable
import numpy as np
df_mtcars['NewVar'] = np.log2(df_mtcars['cyl'])

In [10]:
#Adding rows of two data frame
import pandas as pd
d1 = pd.DataFrame({'a':[3,4,5,6], 'b': [4,5,6,6]}) #let us create two data frame to merge
d2 = pd.DataFrame({'a':[5,6,7,8], 'b': [4,5,7,8]})
d3 = d1.append(d2)

In [11]:
#Adding columns
d3 = pd.concat([d1.reset_index(drop=True),d2],axis =1)
d3

   a  b  a  b
0  3  4  5  4
1  4  5  6  5
2  5  6  7  7
3  6  6  8  8

In [12]:
#Convert each variable
df_mtcars['cyl']=df_mtcars['cyl'].astype(object)

In [13]:
#Convert numeric to categorical/binning
df_mtcars['mpgcat'] = np.where(df_mtcars['mpg']>20, 'Low',0)

In [14]:
## Sorting in ascending order
df_mtcars = df_mtcars.sort_values('mpg', ascending=True)

In [15]:
##Sorting in descending order
df_mtcars = df_mtcars.sort_values('mpg', ascending = False)

In [16]:
# Merge dataframes
df1 = pd.DataFrame({
    'A' : range(1,6,1),
    'B' : np.random.randint(5,105,size = 5),
    'C' : ['Toaster','Toaster', 'Ohio', 'Toaster', 'Ohio' ]
})
df2 = pd.DataFrame({'A': [2,4,5],
                   'Product':['Medium', 'Classic', 'Delux']})

In [ ]:
#Joins
df_left = df1.merge(df2, on = 'A', how = 'left')
#df_right = df1.merge(df2, on = 'A', how = 'right')