In [3]:
# Data Science pathway:
# 1. Problem definition
# 2. Data
# 3. Evaluation
# 4. Features
# 5. Modeling
# 6. Experiments

#Numerical python- backbone of data science
# Numpy is written in C. Numpy operations are much faster than other methods.
# Performance advantage
#vectorization via broadcasting(avoiding loops)
# numbers easy to understand by computers
# Converting data into sth that machines can understand (storing in arrays)

- Most useful functions
- NumPy datatypes and attributes (ndarray)
- Creating arrays
- Viewing arrays and matrices
- Manipulating and comparing arrays
- Sorting arrays
- Use cases

In [4]:
import numpy as np

## Datatypes and Attributes

In [5]:
# NumPy main datatype is ndarray(n-dimesional array)
a1 = np.array([1,2,3])
a1

array([1, 2, 3])

In [6]:
type(a1)

numpy.ndarray

In [7]:
a2 = np.array([[1,2,3.3],[4,5,6]])
a3 = np.array([[[1,2,3],[4,5,6],[7,8,9]],
               [[10,11,12],[14,15,15],[13,14,12]]])
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [14, 15, 15],
        [13, 14, 12]]])

In [8]:
a1.shape

(3,)

In [9]:
a2.shape

(2, 3)

In [10]:
a3.shape

(2, 3, 3)

In [11]:
a1.ndim, a2.ndim, a3.ndim

(1, 2, 3)

In [12]:
a1.dtype, a2.dtype, a3.dtype

(dtype('int32'), dtype('float64'), dtype('int32'))

In [13]:
a1.size, a2.size, a3.size #total elements

(3, 6, 18)

In [14]:
type(a1), type(a2), type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [15]:
# Create a data frame from a Numpy array 
import pandas as pd
df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.0  3.3
1  4.0  5.0  6.0